<%- include('../partials/header') %>

  <nav class="left-menu">
    <ul>
      <li><a href="/user">Utilisateur</a></li>
      <li><a href="#">Famille</a></li>
      <li><a href="#">Magasin</a></li>
      <li><a href="/collection">Collection</a></li>
      <li><a href="#">Transaction</a></li>
      <li><a href="#">Quêtes</a></li>
    </ul>
  </nav>
  <main>
    <h1>Bienvenue sur la page d'accueil</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor velit at lectus tristique finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla aliquam felis vel ante venenatis tincidunt. Etiam nec lectus quis nibh mollis lacinia. Proin dictum ipsum quis metus bibendum, ut fringilla neque convallis. Vivamus vel luctus velit. Fusce consectetur, felis quis luctus volutpat, ante orci aliquam diam, nec bibendum elit nibh nec metus. Suspendisse viverra odio at lectus euismod malesuada. Ut fringilla ex non velit efficitur convallis. Curabitur dapibus sem vel libero ultrices auctor. Fusce ornare nulla vel malesuada imperdiet. Etiam a luctus tellus.</p>
    <p>Mauris nec tortor mi. Fusce pellentesque consectetur feugiat. Sed sit amet enim eget risus elementum tincidunt. Vestibulum commodo vulputate velit, quis rutrum ex iaculis quis. Sed sed turpis ut dolor feugiat pulvinar. Suspendisse nec urna sed odio mollis bibendum. Vestibulum commodo, lectus quis molestie faucibus, erat tortor pretium magna, eu bibendum mauris tellus vel velit. Suspendisse auctor eros justo, eu malesuada lorem tristique vitae.</p>
  </main>
<%- include('../partials/footer') %>

