<%- include('../partials/header') %>

<h1 class="title-page">Connexion</h1>
<form action="/admin" class="login-form" method="post" >
    <label for="email">Identifiant :</label>
    <input type="email" id="email" name="email" class="form-input" required>
  
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password" class="form-input" required>
  
    <button type="submit" class="form-button">Se connecter</button>
  </form>


<%- include('../partials/footer') %>
