<%- include('partials/header') %>

<div class="content">
    <div class="select-wrapper">
        <h1 class="family-title">Famille</h1>
        <form method="POST">
            <select name="family" id="family">
                <option class="select-option" value="" disabled selected hidden>Sélectionnez une option</option>
                <% families.forEach((family) => { %>
                <option value="<%= family.id %>"><%= family.name %></option>
                <% }) %>
            </select>
        </form>
    </div>
</div>

<%- include('partials/footer') %>
