<%- include('partials/header') %>
<body class="shop-page">
  <%- include('partials/nav') %>
<header>
    <div class="content">
        <p class="title">MAGASIN</p>
    </div>
</header>
<main>
    <div class="list" id="list"></div>
    <div class="pagenumbers" id="pagination"></div>
</main>



<%- include('partials/footer') %>
