<%- include('../partials/header') %>

<div class="home-container">
    <h1 class="title-page">Page d'acceuil</h1>
    <div class="home-buttons">
        <a href="/signin" class="btn btn-primary">Connexion</a>
        <a href="/signup" class="btn btn-secondary">Inscription</a>
    </div>
</div>

<%- include('../partials/footer') %>